.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
driver/driverPictures/3.jpg
driver/driverPictures/4.jpg
driver/driverPictures/5.jpg
driver/driverPictures/6.jpg
driver/driverPictures/10.jpg
driver/driverPictures/11.jpg
driver/driverPictures/14.jpg
driver/driverPictures/16.jpg
driver/driverPictures/18.jpg
driver/driverPictures/20.jpg
driver/driverPictures/22.jpg
driver/driverPictures/23.jpg
driver/driverPictures/24.jpg
driver/driverPictures/27.jpg
driver/driverPictures/31.jpg
driver/driverPictures/33.jpg
driver/driverPictures/44.jpg
driver/driverPictures/47.jpg
driver/driverPictures/55.jpg
driver/driverPictures/63.jpg
driver/driverPictures/77.jpg
